{
	"apiKeys": {
		"weatherDB": {
			"apiKey": ""
		},
		"firebaseDB":	{
			"apiKey": "",
			"authDomain": "",
			"databaseURL": "",
			"projectId": "",
			"storageBucket": "",
			"messagingSenderId": ""
		}
	}
}